<h1>Acts</h1>

<% @acts.each do |act| %>
  <p>
    name: <%= link_to act.name, act_path(act) %><br>
    date: <%= act.performance_date %>
  </p>
  </tr>
<% end %>

<p><strong><%= link_to 'New Act', new_act_path %></strong></p>
